body{
font-size:40px;
  text-align:center;
    font-style:bold;
     text-align:center;
background-image:url("");        
  background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed; 
      
      }
#submit:hover{
  background-color:red;
  
}
ul{
  font-size:40px;
  text-align:center;
  color:red;
}