body{
    font-size:35px;
    font-style:bold;
     text-align:center;
  background-image:url("https://www.shutterstock.com/image-vector/bmi-body-mass-index-banner-260nw-1341869564.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed; 
      
      }
#submit:hover{
  background-color:red;
  font-size:30px;
}
button{
  font-size:30px;
}
label{
  font-size:30px;
  color:;
}
          