body{
  font-size: 30px;
        font-style: italic;
        text-align: center;
        background-image: url("https://media.istockphoto.com/id/521546846/photo/cinema-seat-and-pop-corn-facing-empty-movie-screen.jpg?s=612x612&w=0&k=20&c=7S3o2lPfbtLEk665Bmv62kZ3Dpr3BwWJ45sUS6CjhEU=");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
label{
  color:black;
  font-size:35px;
}
h1{
  color:gold;
  
}
      #create:hover {
        background-color: blue;
      }
#update:hover{
  background-color:red;
}
#read:hover{
  background-color:pink;
}
#delete:hover{
  background-color:yellow;
}
      button {
        font-size: 30px;
      }
  
  
}